@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgb(0, 96, 126);
    color: white;
}

header > h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
}

header {
    margin: 20px;
}

#btn {
    
    padding: 3px;
}

#output {
    margin: 10px 0px 0px 0px;  
}

#num {
    margin-right: 10px;
}

#calculo {
    padding: 3px;
    width: 200px;
    margin-bottom: 10px;
}

#res {
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
}

section {
    font-size: 18px;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    min-height: 300px;
    
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
    background: whitesmoke;
    color: black;
}

footer {
    margin: 30px 20px;
}